<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /desarrollo/maxcom/maxcomWP/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /desarrollo/maxcom/maxcomWP/index.php [L]
</IfModule>
